language: php
dist: trusty
sudo: false

php:
  - 7.1

env:

before_install:
  - echo 'sendmail_path = /bin/true' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - phpenv config-rm xdebug.ini
  - composer --verbose self-update --$COMPOSER_CHANNEL
  - composer --version

install:
  - composer --verbose validate
  - composer --verbose install

script:
  - cd $TRAVIS_BUILD_DIR/web
  - ./../vendor/bin/drush site-install --verbose --yes --existing-config --db-url=sqlite://tmp/site.sqlite
  - ./../vendor/bin/drush runserver &
  - ./../vendor/bin/wait-for-listen 8888
  - cd ..
  - ./vendor/bin/phpcs -p -n
  - ./vendor/bin/behat

